@model List<Customer>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-6">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-6"> Customer List </h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row pb-2">
            <div class="col-12 text-end">
                <a asp-controller="Customer" asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i> Add New Customer
                </a>
            </div>

        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customerData in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td>
                            @customerData.Id
                        </td>
                        <td>@customerData.FirstName @customerData.LastName</td>
                        <td>@customerData.Email</td>
                        <td>@customerData.PhoneNumber</td>
                        <td>
                            <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customerData.Id" class="btn btn-info">
                                <i class="bi bi-pencil"></i> Edit
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customerData.Id" class="btn btn-success">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

